<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}

    <label> PERSON DETAILS </label>
    <br/>
    {% if OTP %}
    <label>OTP</label>
    <input type="text" name = "OTP" id="OTP" />
    <input type="hidden" name = "newpassword"  />
    <input type="hidden" name = "confirmpassword"  />
    <input type = "submit" value="CONFIRM">
    {% endif %}

    {% if updatepassword %}
    <input type="hidden" name = "OTP"  />
    <label>NEW-PASSWORD</label>
    <input type="text" name = "np" />

    <label>CONFIRM-PASSWORD</label>
    <input type="text" name = "cp" />

    <input type = "submit" value="UPDATE">
    <br/>
    {% endif %}
</form>

</body>
</html>